/**
 * 交换历史样式 (Exchange History Styles)
 *
 * @author AI Reviewer Team
 * @since 2025-12-12
 */

.exchange-history {
  padding: 20px;
}

.exchange-history__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

